* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-bg: linear-gradient(to bottom, #00d4ff, #000);
  --line-color: linear-gradient(to left top, #82ff86 20%, #144425, #104e1c);
  --flower-center: radial-gradient(circle, #000e, #ff5e00);
  --leaf-color: radial-gradient(circle, #82ff86, #104e1c);
  --petal-large-color: radial-gradient(
    #ff7f00,
    #ffdd55
  ); /* Pétalos grandes: Naranja brillante a amarillo suave */
  --petal-small-color: radial-gradient(
    circle,
    #ffbb33,
    #ff9900
  ); /* Pétalos pequeños amarillos */
}

body {
  background: var(--color-bg);
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  body {
    align-items: center;
  }
}

.flower_wrapper {
  position: absolute;
  left: 50%;
  bottom: 2vmin;
  animation: moving-flower-1 4s linear infinite;
}

.flower_center {
  position: absolute;
  top: 3vmin;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%) rotate(-10deg);
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  background: var(--flower-center);
  animation: open-flower-middle 2s 0.4s backwards;
}

.flower_stem {
  width: 2vmin;
  height: 65vmin;
  background-image: var(--line-color);
  border-radius: 4vmin;
}

.flower_petal {
  position: absolute;
  left: 50%;
  z-index: 3;
  bottom: 55vmin;
  transform: translateX(-50%);
  clip-path: ellipse(50% 50% at 50% 50%);
  transform-origin: center bottom;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

/* Pétalos grandes */
.flower_petal.large {
  width: 10vmin;
  height: 20vmin;
  background: var(--petal-large-color);
  z-index: 2;
}

/* Pétalos pequeños */
.flower_petal.small {
  width: 10vmin;
  height: 20vmin;
  background: var(--petal-small-color);
  z-index: 3;
}

/* Rotación y distribución de pétalos grandes y pequeños */
.flower_petal.large.flower_petal-1 {
  transform: translateX(-50%) rotate(0deg);
}
.flower_petal.large.flower_petal-2 {
  transform: translateX(-50%) rotate(60deg);
}
.flower_petal.large.flower_petal-3 {
  transform: translateX(-50%) rotate(120deg);
}
.flower_petal.large.flower_petal-4 {
  transform: translateX(-50%) rotate(180deg);
}
.flower_petal.large.flower_petal-5 {
  transform: translateX(-50%) rotate(240deg);
}
.flower_petal.large.flower_petal-6 {
  transform: translateX(-50%) rotate(300deg);
}

.flower_petal.small.flower_petal-7 {
  transform: translateX(-50%) rotate(30deg);
}
.flower_petal.small.flower_petal-8 {
  transform: translateX(-50%) rotate(90deg);
}
.flower_petal.small.flower_petal-9 {
  transform: translateX(-50%) rotate(150deg);
}
.flower_petal.small.flower_petal-10 {
  transform: translateX(-50%) rotate(210deg);
}
.flower_petal.small.flower_petal-11 {
  transform: translateX(-50%) rotate(270deg);
}
.flower_petal.small.flower_petal-12 {
  transform: translateX(-50%) rotate(330deg);
}

/* Estilos de las hojas */
.flower_leaf {
  position: absolute;
  left: 60%;
  bottom: 18vmin;
  transform: translateX(-45%) rotate(80deg);
  width: 7vmin;
  height: 17vmin;
  background: var(--leaf-color);
  clip-path: none;
  border-radius: 10vmin 2vmin 10vmin 2vmin;
  transform-origin: center bottom;
}

.flower_leaf-1 {
  bottom: 18vmin;
  transform: translateX(-45%) rotate(80deg);
}

.flower_leaf-2 {
  bottom: 23vmin;
  transform: translateX(-55%) rotate(-80deg);
}

.flower_light {
  position: absolute;
  bottom: 70vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: rgb(255, 251, 0);
  border-radius: 50%;
  filter: blur(0.2vmin);
  animation: light-ans 4s linear infinite backwards;
}

.flower_light-1 {
  left: -2vmin;
  animation-delay: 1s;
}
.flower_light-2 {
  left: 3vmin;
  animation-delay: 0.5s;
}
.flower_light-3 {
  left: -6vmin;
  animation-delay: 0.3s;
}
.flower_light-4 {
  left: 6vmin;
  animation-delay: 0.9s;
}
.flower_light-5 {
  left: -1vmin;
  animation-delay: 1.5s;
}
.flower_light-6 {
  left: -4vmin;
  animation-delay: 3s;
}
.flower_light-7 {
  left: 3vmin;
  animation-delay: 2s;
}
.flower_light-8 {
  left: -6vmin;
  animation-delay: 3.5s;
}

@keyframes light-ans {
  0% {
    opacity: 0;
    transform: translateY(0vmin);
  }
  25% {
    opacity: 1;
    transform: translateY(-5vmin) translateX(-2vmin);
  }
  50% {
    opacity: 1;
    transform: translateY(-15vmin) translateX(2vmin);
    filter: blur(0.2vmin);
  }
  75% {
    transform: translateY(-20vmin) translateX(-2vmin);
    filter: blur(0.2vmin);
  }
  100% {
    transform: translateY(-30vmin);
    opacity: 0;
    filter: blur(1vmin);
  }
}
